<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"
</head>

<body>

<!-- <h1>My First Heading</h1>
<p>My first paragraph.</p>
<h2>hi how are you</h2> -->
<div class="wrapper">
    <header>
        <nav>
            <div class="logo">Advanced text Summarization</div>

            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<div class="video_banner">
     <video autoplay muted loop>
       <source src="{{url_for('static',filename='videos/nlp_video.mp4')}}">
    </video> 
     

     <!-- <image src="{{url_for('static',filename = 'videos/')}}" -->

</div>
<!-- 
<div class="slider">
    <div class="slide-1">

    </div>   
    <div class="slide-2">

    </div>

    <div class="slide-3">

    </div>

</div> --> 

<div class="container">
    <div class="section">
        <form method="POST" action="/analyze">
            <textarea name="rawtext" cols="50" rows="5" class="textarea" required="true" placeholder="Enter Text Here"></textarea>
            <br>
            <button class="btn btn-center_animation" type="reset">Clear</button>
            <button class="btn btn-center_animation" type="submit">Summarize</button>
        </form>

        <br>

        <form method="POST" action="/analyze_url">
            <input class="raw_url" type="text" name="raw_url" placeholder="Enter URL here" required="true">
            <br>
            <button class="btn btn-center_animation" type="reset">Clear</button>
            <button class="btn btn-center_animation" type="submit">Summarize</button>
          
        </form>
    </div>


</div>



</body>
</html>