<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"
</head>

<body>

<!-- <h1>My First Heading</h1>
<p>My first paragraph.</p>
<h2>hi how are you</h2> -->
<div class="wrapper">
    <header>
        <nav>
            <div class="logo">Advanced text Summarization</div>

            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>

</body>
</html>