li, a {
  font-weight: 500;
  font-size: 16px;
  color:black ;
  text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 10%;


}

.logo{
    cursor: pointer;
}

.menu {
    list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0px 20px;
}

.menu li a {
    transition:all 0.3s ease 0s;
}

.video_banner {
   width: 100%;
   height:20 vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.video_banner video{
  position:relative;
  top: 10;
  left:0;
  object-fit:cover;
  pointer-events: none;
  height: 20 vh;
  width: 100;
}

.container {
  background-color: cyan;
  padding: 30px;
  text-align: center;
  
}
.container section {
  background-color: black;
  /* margin: 200px auto; */
}
/* textarea,input
{
  border:none;
  outline:none;
} */

.section input
{
  border:none;
  outline:none;
  height:20px;
  width: 600px;
  margin: 10px;
} 

.btn
{
 position:relative;
 border: none;
 cursor:pointer;
}
.btn::after
{
 content:'';
 position: absolute;
 width:100%;
 height: 0.175rem;
 background: red;
 left:0;
 bottom:0;
 transition: 0.3s;
}

 .btn-center_animation::after{
  transform: scale(0,1); 
  /* transition: transfrom 0.3s ease; */

} 
.btn-center_animation:hover::after
{
  transform: scale(1,1);
}




